Student Performance Data set  
https://archive.ics.uci.edu/ml/datasets/Student+Performance 

# What factors influence a secondary student's grades?

## Introduction:
By Sébastien Rhéaume, Ryan Shar, Justing Wong, Robert Yip

A student's grades is often the associative indicator of the student's performance in school. While a student's innate intelligence is often the predictor variable in the student's grades, there are likely other factors that affect the grades. In our study, we investigate whether certain environmental factors are significant in influencing a student's performance. We selected Math grades as the indicator for performance, as it is a subject that can be objectively evaluated. Our data set consists of 395 secondary students from two Portuguese schools, with their grades in mathematics and environmental factors collected through questionnaires.

## Preliminary Exploratory Data Analysis
1. Demonstrate that the dataset can be read from the web into R

In [3]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

Warning message:
“package ‘ggplot2’ was built under R version 4.0.1”
Warning message:
“package ‘tibble’ was built under R version 4.0.2”
Warning message:
“package ‘tidyr’ was built under R version 4.0.2”
Warning message:
“package ‘dplyr’ was built under R version 4.0.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

### Read data set

In [21]:
# dataset
url <- "https://archive.ics.uci.edu/ml/machine-learning-databases/00320/student.zip"

# read into table
temp <- tempfile()
download.file(url,temp)
data <- read_csv2(unz(temp, "student-mat.csv"))
print.data.frame(head(data))     # print.data.frame is needed because the table is wide and has collapsed columns

Using ',' as decimal and '.' as grouping mark. Use read_delim() for more control.

Parsed with column specification:
cols(
  .default = col_character(),
  age = col_double(),
  Medu = col_double(),
  Fedu = col_double(),
  traveltime = col_double(),
  studytime = col_double(),
  failures = col_double(),
  famrel = col_double(),
  freetime = col_double(),
  goout = col_double(),
  Dalc = col_double(),
  Walc = col_double(),
  health = col_double(),
  absences = col_double(),
  G1 = col_double(),
  G2 = col_double(),
  G3 = col_double()
)

See spec(...) for full column specifications.

  school sex age address famsize Pstatus Medu Fedu     Mjob     Fjob     reason
1     GP   F  18       U     GT3       A    4    4  at_home  teacher     course
2     GP   F  17       U     GT3       T    1    1  at_home    other     course
3     GP   F  15       U     LE3       T    1    1  at_home    other      other
4     GP   F  15       U     GT3       T    4    2   health services       home
5     GP   F  16       U     GT3       T    3    3    other    other       home
6     GP   M  16       U     LE3       T    4    3 services    other reputation
  guardian traveltime studytime failures schoolsup famsup paid activities
1   mother          2         2        0       yes     no   no         no
2   father          1         2        0        no    yes   no         no
3   mother          1         2        3       yes     no  yes         no
4   mother          1         3        0        no    yes  yes        yes
5   father          1         2        0        no    yes  yes         no
6   mother          1         2        0        no    yes  yes        yes
  nursery higher internet romantic famrel freetime goout Dalc Walc health
1     yes    yes       no       no      4        3     4    1    1      3
2      no    yes      yes       no      5        3     3    1    1      3
3     yes    yes      yes       no      4        3     2    2    3      3
4     yes    yes      yes      yes      3        2     2    1    1      5
5     yes    yes       no       no      4        3     2    1    2      5
6     yes    yes      yes       no      5        4     2    1    2      5
  absences G1 G2 G3
1        6  5  6  6
2        4  5  5  6
3       10  7  8 10
4        2 15 14 15
5        4  6 10 10
6       10 15 15 15

### Wrangling table columns into factors
For our study, we will only look at these 10 factors for simplicity
1. sex
2. age
3. famsize
4. Medu - Mother's education level
5. Fedu - Father's education level (1-4)
6. traveltime - Home to school travel time (1=short, 5=long)
7. studytime - Weekly study time (1=very little, 3=alot)
8. failures - Number of past failures
9. paid - Is the student attending paid lessons? (1=yes)
10. activities - Is the student participating in extracurriculars? (1=yes)
11. internet - Is there internet access at home (1=yes)
12. romantic - Is the student dating? (1=yes)
13. G1
14. G2
15. G3

In [27]:
#select columns
data <- data %>%
    select (sex, age, famsize, Medu, Fedu, traveltime, studytime, failures, paid, activities, internet, romantic, G1, G2, G3)

# convert columns to factors
# data <- data %>%
#     as_factor (sex,famsize,Medu,Fedu,studytime,failures,paid,activities,internet,romantic)

col_factors <- c("sex","famsize","Medu","Fedu","traveltime","studytime","paid","activities","internet","romantic") 
data[,col_factors] <- lapply(data[,col_factors], factor)
head(data)

  sex age famsize Medu Fedu traveltime studytime failures paid activities
1 F   18  GT3     4    4    2          2         0        no   no
2 F   17  GT3     1    1    1          2         0        no   no
3 F   15  LE3     1    1    1          2         3        yes  no
4 F   15  GT3     4    2    1          3         0        yes  yes
5 F   16  GT3     3    3    1          2         0        yes  no
6 M   16  LE3     4    3    1          2         0        yes  yes
  internet romantic G1 G2 G3
1 no       no        5  6  6
2 yes      no        5  5  6
3 yes      no        7  8 10
4 yes      yes      15 14 15
5 no       no        6 10 10
6 yes      no       15 15 15

### 3.
Using only training data, summarize the data in at least one table (this is exploratory data analysis). An example of a useful table could be one that reports the number of observations in each class, the means of the predictor variables you plan to use in your analysis and how many rows have missing data.   

### 4.
Using only training data, visualize the data with at least one plot relevant to the analysis you plan to do (this is exploratory data analysis). An example of a useful visualization could be one that compares the distributions of each of the predictor variables you plan to use in your analysis.

## Methods

For our study, we will only look at these 10 factors for simplicity
1. sex
2. age
3. famsize
4. Medu - Mother's education level
5. Fedu - Father's education level (1-4)
6. traveltime - Home to school travel time (1=short, 5=long)
7. studytime - Weekly study time (1=very little, 3=alot)
8. failures - Number of past failures
9. paid - Is the student attending paid lessons? (1=yes)
10. activities - Is the student participating in extracurriculars? (1=yes)
11. internet - Is there internet access at home (1=yes)
12. romantic - Is the student dating? (1=yes)
13. G1
14. G2
15. G3

Our goal is to predict the student's grades given the other environmental variables. We total all 3 grades together for simplicity. As the grades are numeric, we require a regression analysis, with a mix of numeric and factor variables.

### Expected Outcomes Significance

#### What do you expect to find?
We expect to find a mix of significant and insignificant factors that influence a student's grades. As students ourselves, we hypothesize these significant factors to be strong predictors of a student's grades.

#### What impact could such findings have?
By improving a student's exposures to these significant factors, a student's grades may increase. This can become helpful information for parents to plan for their children's success.

##### What future questions could this lead to?
Replicated for different schools and subjects, perhaps to university students as well.